
<div class="img">
      <img src="https://www.medivision.in/uploaded_files/banner/blog-1-_1654338537.png" alt="">
</div>
<div class="blog">
      <h2>{{singleblog[0].link}}</h2>
      <h2>{{singleblog[0].date}}</h2>
      <img src="{{singleblog[0].giph}}" style="height:500px; width: 800px;">
      <p>{{singleblog[0].para}}.</p>
      <h3>{{singleblog[0].head1}}</h3>
      <p>{{singleblog[0].para1}}.</p>
      <h3>{{singleblog[0].head2}}</h3>
      <p>{{singleblog[0].para2}}</p>
      <h3>{{singleblog[0].head3}}</h3>
      <p>{{singleblog[0].para3}}</p>