<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <!-- <a class="navbar-brand" href="#">Logo</a> -->
      </div>
     
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs">
        <!-- <h2>Logo</h2> -->
        <ul class="nav nav-pills nav-stacked">
          <!-- <li class="active"><a href="#section1">Dashboard</a></li> -->
          <!-- <li><a href="#section2">Age</a></li> -->
          <!-- <li><a href="#section3">Gender</a></li> -->
          <!-- <li><a href="#section3">Geo</a></li> -->
        </ul><br>
      </div>
      <br>
      
      <div class="col-sm-9">
        <div class="well">
          <!-- <h4>Dashboard</h4> -->
          <H1>WELCOME TO <span style="color: blue;">JJ</span>DIAGNOSTIC SERVICE</H1>
        </div>
        <BR>
            <br>
        <div class="row">
          <div class="col-sm-3">
            <div class="well">
                <!-- <button class="" href="booking">Book Now</button> -->
                <a class="btn btn-dark" href="booking">Book Now</a>

              <!-- <p>1 Million</p>  -->
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
                <a class="btn btn-dark" href="appointment">Book Doctor Appointment</a>

              <!-- <p>100 Million</p>  -->
            </div>
          </div>
          <!-- <div class="col-sm-3"> -->
            <!-- <div class="well"> -->
                <!-- <button class="btn btn-danger my-10 me-10" routerLink="appointment"></button> -->

              <!-- <p>10 Million</p>  -->
            <!-- </div> -->
          <!-- </div> -->
          <div class="col-sm-3">
            <div class="well">
                <a class="btn btn-dark" href="about">Logout</a>

                <!-- <butt class="btn btn-danger my-10 me-10" routerLink="booking">Logout</button> -->

              <!-- <p>30%</p>  -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <!-- <p>Text</p>  -->
              <!-- <p>Text</p>  -->
              <!-- <p>Text</p>  -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <!-- <p>Text</p>  -->
              <!-- <p>Text</p>  -->
              <!-- <p>Text</p>  -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <!-- <p>Text</p>  -->
              <!-- <p>Text</p>  -->
              <!-- <p>Text</p>  -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="well">
              <!-- <p>Text</p>  -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <!-- <p>Text</p>  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
