
    <header>
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="toggle-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav nav-tabs">
          <li class="nav-item">
            
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">BookTest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu">HealthPackages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="partner">PartnerWithUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">ContactUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>

        </ul>
      </div>
    </nav>
    <div class="box">
        <div class="box-1"></div>
        <div class="box-2"></div>
      </div>
    </header>
   
