<!-- start about us -->
<div class="img">

  <img src="https://www.medivision.in/uploaded_files/banner/about-us1_1652340478.png" alt="">
</div>
<div class="about">
  <div class="inner-section">
    <h1>About JJ Diagnostic Center</h1>
    <p class="text">
      JJ DIAGNOSTIC CENTER was founded in the year 2000. We have many branches and collection points across South India
      that are
      connected to its referral laboratory at Kochi. Medivision is well recognized for the adoption of state of the art
      technology and the experienced team of doctors and technicians work round the clock to deliver you the services
      that meet international standard as per ISO 15189:2012 The Laboratory Division has specialized departments for
      Biochemistry, Immunology, Serology, Bacteriology, Molecular Biology, Histopathology, lmmunohistopathology,
      Haematology, Clinical Pathology and Cytology. Each department is headed by Doctors and Technical heads who are
      specialists in the respective areas. With these facilities, we are able to provide you with any kind of laboratory
      test you require. Over the past 3 decades, we have invested strategically in technology and state-of - the art
      equipment.
    </p>
    <div class="skills">
      <button>Contact Us</button>
    </div>
  </div>
</div>

<!-- End about us -->

<!-- Start mission vission -->
<div class="mvv-container">
  <div class="mvv-block">
    <div class="image">
      <img src="../../../assets/images/mision.png" alt="">
    </div>
    <div class="content">
      <h5>OUR MISSION</h5>
      <P>
        Our vision is to provide accurate diagnostic support to every health care professional and organisation and to
        touch the life of anyone who needs diagnostic assistance.

      </P>
    </div>
  </div>



  <div class="mvv-container">
    <div class="mvv-block">
      <div class="image">
        <img src="../../../assets/images/Vision.png" alt="">
      </div>
      <div class="content">
        <h5>OUR VISION</h5>
        <P>
          Our vision is to provide accurate diagnostic support to every health care professional and organisation and to
          touch the life of anyone who needs diagnostic assistance.
        </P>
      </div>
    </div>


    <div class="mvv-container">
      <div class="mvv-block">
        <div class="image">
          <img src="../../../assets/images/quality.png" alt="">
        </div>
        <div class="content">
          <h5>QUALITY POLICY</h5>
          <P>
            Medivision Scan & Diagnostic Research Centre always strives to uphold its position as a leading clinical
            laboratory by identifying the diagnostic need of the medical fraternity and providing them with accurate
            results. This will be achieved through keeping at par with ongoing developments, implementation and
            evaluation of quality control methods appropriate to each department and continuously revising current
            laboratory practices to be par with global standards.
          </P>
        </div>
      </div>
    </div>


    <!-- End missio, vision -->




    <div class="new">
      <img src="../../../assets/images/corporate-service_1652250474.jpg" class="img-thumbnail" alt="...">
      <p>As it is rightly said “Health is wealth”, many organizations are taking special care for their employees, by
        introducing corporate wellness program. This is a win- win situation for both the employers and the employee.
        This helps the company to monitor the health of its work force and avoid absenteeism and under performance along
        with employee retention. On the other hand employees contribute to the company in a productive and efficient
        manner.</p>
    </div>