
<div class="img">
    <img src="https://th.bing.com/th/id/R.e61cf0cf0698a90941050a15a5ed2578?rik=rN%2fIMZgI7NkG8Q&riu=http%3a%2f%2fwww.haformed.com%2fTemplates%2fzx%2fimages%2fbanner3.jpg&ehk=%2by054eQ6b0Jf8lAFiRizwAmBCNsIZsUtWSKA%2bHkQ7WA%3d&risl=&pid=ImgRaw&r=0" alt="" width="1400">
</div>

<div class="row m-md-5 m-3 ">
    <div class="col-lg-4 bg-blue py-5 px-5">
        <h4 class="text-center text-white mb-4">Contact Details</h4>
        <div class="row">
            <div class=" col-lg-4 col-md-5 offset-lg-0 offset-md-2 col-4 ">
                <!-- <p class="fw-bold">Call Us:</p> -->
            </div>
            <div class=" col-lg-8 col-md-5 col-8">
                <!-- <p>+91 9089786756</p> -->
            </div>
            <div class=" col-lg-4 col-md-5 offset-lg-0 offset-md-2 col-4">
                <!-- <p class="fw-bold">email:</p> -->
            </div>
            <div class=" col-lg-8 col-md-5 col-8">
                <!-- <p>jjdiagnostic@gmail.com</p> -->
            </div>
            <div class=" col-lg-4 col-md-5 offset-lg-0 offset-md-2 col-4">
                <!-- <p class="fw-bold">Work hours:</p> -->
            </div>
            
        </div>
    </div>
    <div class="col-lg-4 bg-red py-5 px-5">
        <form  [formGroup]= "AddForm">
            <h4 class="text-center text-white mb-4">Make An Appointment We Will Call You</h4>
            <div class="row">
                <div class="col-md-6 col-12 my-md-0 my-2">
                    <input type="text" class="form-control bg-darkred" formControlName="Name" placeholder="Your Full Name">
                </div>
                <div class="col-md-6 col-12 my-md-0 my-2 ">
                    <input type="email" class="form-control bg-darkred" formControlName="Email" placeholder="Your Email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 my-2">
                    <input type="text" class="form-control bg-darkred"formControlName="Phone"  placeholder="Your Phone Number">
                </div>
                <div class="col-md-6 col-12 my-2">
                    <select name="" id="dropDown" class="form-control bg-darkred shadow-none" formControlName="Doctors">
                        <option value="" hidden selected>Docotrs</option>
                        <option value="DR.Joseph Kuruvila (MBBS, DIABATOLOGIST)">DR.Joseph Kuruvila (MBBS, DIABATOLOGIST)</option>
                        <option value="Dr.Rajeev Philp (ONCOLOGIST)"> Dr.Rajeev Philp (ONCOLOGIST)</option>
                        <option value="Dr. Neethu Jerrin (GYNECOLOGIST)">Dr. Neethu Jerrin (GYNECOLOGIST)</option>
                        <option value="Dr. Veena kumar Iyer (ORTHO)">Dr. Veena kumar Iyer (ORTHO)</option>
                        <option value="Dr.Zaem Ali Ahamed  (PHYSICIAN)">Dr.Zaem Ali Ahamed  (PHYSICIAN)</option>
                        <option value="Dr.Sherin S  (GYNECOLOGIST)">Dr.Sherin S  (GYNECOLOGIST)</option>
                        <option value="Dr.Farhana (GASTRO)">Dr.Farhana (GASTRO)</option>
                        <option value="Dr.Akhil G(ORTHO SPCIALIST)">Dr.Akhil G(ORTHO SPCIALIST)</option>
                        <option value="Dr. Martin J (DIABATOLOGIST)">Dr. Martin J (DIABATOLOGIST)</option>
                        <option value="Dr.Shanu Ali(ENT)">Dr.Shanu Ali(ENT)</option>
                        <option value="Dr. Priya S (PYSICIAN)">Dr. Priya S (PYSICIAN)</option>
                        <option value="Dr.Ameer Muhammed(ENT)">Dr.Ameer Muhammed(ENT)</option>
                        <option value="Dr. Arun Kumar(PHYSICIAN)">Dr. Arun Kumar(PHYSICIAN)</option>
                        <option value="Dr.Vyshak M (ONCOLOGIST)">Dr.Vyshak M (ONCOLOGIST)</option>
                        <option value="Dr.Jinu George(CARDIOLOGIST)">Dr.Jinu George(CARDIOLOGIST)</option>
                        <option value="Dr.Manu Jacob Varghese(SURGEON)">Dr.Manu Jacob Varghese(SURGEON)</option>
                        <option value="Dr.Anita John(HEPATOLOGIST)">Dr.Anita John(HEPATOLOGIST)</option>
                        <option value="Dr.Smitha S Nair(PEDIATRICIAN)">Dr.Smitha S Nair(PEDIATRICIAN)</option>

                    </select>
                </div>
                <div class="">
                    <textarea cols="10" rows="3" class="form-control bg-darkred shadow-none"
                        placeholder="Message" formControlName="Message"></textarea>
                </div>
                <div class=" my-2"> <button class="btn w-100 shadow-none text-uppercase msg-btn" (click)="add()">Send
                        NOW</button> </div>

            </div>
        </form>
    </div>
    <div class="col-lg-4 bg-blue py-5 px-5">
        <!-- <h4 class="text-center text-white mb-4">Maintenance Services</h4> -->
        <div class="col">
            <!-- <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa a minima explicabo similique, -->
                <!-- ipsum quam quibusdam quae. Assumenda quibusdam molestiae eveniet qui voluptatum nesciunt vero -->
                <!-- molestias quas sint quia? Ratione?</p> -->
        <!-- </div> -->
        <!-- <div class=""><button class="btn my-3 shadow-none text-uppercase">More Services</button></div> -->
    </div>
</div>
